* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}
.left {
  width: 25vw;
}
.right {
  width: 75vw;
  position: relative;
}
.home ul li {
  display: flex;
  width: 15px;
  list-style: none;
  gap: 15px;
  padding-top: 14px;
  font-weight: bold;
}
.heading {
  display: flex;
  /* min-height: 150px; */
  align-items: center;
  gap: 15px;
  padding-top: 14px;
  padding: 23px 14px;
  font-size: 13px;
}
.heading img {
  width: 30px;
}
.library {
  min-height: 80vh;
  position: relative;
}
.footer {
  display: flex;
  font-size: 10px;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.footer a {
  color: grey;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #282727;
}
.header > * {
  padding: 20px;
  height: 38px;
}
.cardContainer {
  margin: 30px;
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap onto new rows */
  gap: 10px; /* Space between cards */
  justify-content: space-around; /* Distribute cards evenly */
  max-width: 70vh;
  overflow-y: scroll;
}
.card {
  flex: 1 1 calc(200px - 10px); /*Each card takes up space proportionally */
  max-width: 200px; /* Ensure cards don’t grow too large */
  padding: 10px;
  border-radius: 5px;
  background-color: #282727;
  position: relative;
}
.card > * {
  padding-top: 3px;
}
.card img {
  width: 100%;
  object-fit: contain;
}

.play {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 17px;
  top: 153px;
  opacity: 0;
  transition: all ease-out;
}
.buttons > * {
  margin: 0 12px;
}
.signupbtn {
  color: rgb(123, 123, 123);
  background-color: #282727;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.signupbtn:hover {
  font-size: 17px;
  color: white;
}
.loginbtn {
  color: black;
  background-color: white;
  cursor: pointer;
  font-size: 15px;
  border-radius: 36px;
  padding: 10px;
  width: 68px;
  border: none;
}
.loginbtn:hover {
  font-weight: bold;
  font-size: 16px;
}
.playbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(250, 250, 250);
}
.songbuttons {
  display: flex;
  justify-content: center;
  height: 23px;
  padding: 5px;
}
.songlist ul {
  padding: 0 4px;
}
.songList {
  height: 544px;
  overflow: auto;
  margin-bottom: 44px;
}

.songList ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid rgba(146, 143, 143, 0.491);
  margin: 12px 0;
  padding: 13px;
  border-radius: 5px;
}

.playnow {
  display: flex;
  font-size: 14px;
  width: 100px;
  justify-content: center;
  align-items: center;
  
}
.playnow span {
  display: flex;
}
